body {
  background: #fff;
}

#parent {
  position: relative;
  width: 300px;
  height: 100px;
  background-color: black;
}
#child1 {
  position: absolute;
  width: 20px;
  height: 100px;
  background-color:red;
  will-change: transform;
}
#child2 {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color:blue;
  will-change: transform;
}
