html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

#chute {
    position:fixed; top:0; left:0; height:100%; width:100%;
}

#layer1, #layer2, #layer3, #layer4, #layer5, #layer6, #layer7, #layer8 {
    height:50px;
    width:200px;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    opacity:0;
}

.empty {
    fill: none;
}

.crown {
    fill: #d3af37;
}

.lettuce {
    fill: #00ff00;
}
.tomato {
    fill: #ff0000;
}
.cheese {
    fill: #ffff00;
}
.patty {
    fill: #b32134;
}
.heel {
    fill: #d3af37;
}

#wrapper {
    position:fixed;
}
