html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.burger_machine {
    position:fixed; top:0%; left:200px; height:50%; width:50%;
}
.conveyor_belts {
    position:fixed; top:0%; left:200px; height:50%; width:50%;
}

#layer1, #layer2, #layer3, #layer4, #layer5, #layer6, #layer7, #layer8 {
    height: 70px;
    width: auto;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    opacity:0;
}

.wrapper {
    position:fixed;
}

.status {
    border-style:solid;
    position:absolute;
    top:100px;
    right:100px;
}

#confusion_matrix th,tr,td {
   border: 1px solid black;
}

#precision_recall table th,tr,td {
   border: 1px solid black;
}

.burger {
    position:relative; top:0; left:0; height:256px; width:128px;
}

.topbun {
    position:absolute;
}

.lettuce {
    position:absolute;
}

.tomato {
    position:absolute;
}

.cheese {
    position:absolute;
}

.patty {
    position:absolute;
}

.bottombun {
    position:absolute;
}


#layer1 {
    z-index: 8;
}
#layer2 {
    z-index: 7;
}
#layer3 {
    z-index: 6;
}
#layer4 {
    z-index: 5;
}
#layer5 {
    z-index: 4;
}
#layer6 {
    z-index: 3;
}
#layer7 {
    z-index: 2;
}
#layer8 {
    z-index: 1;
}

