html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: white;
}

.burger_machine, .conveyor_belts, .lights {
    position:fixed; top:0%; left:475px; height:50%; width:50%;
}

.sidebar {
    position:fixed; top:0%; left:0%; height:40em; width:40em;
}

.dumpster {
    position:fixed; bottom:8%; left:20%; height:25%; width:25%;
}

.burgerstack_description {
    border-style:solid;
    width:auto;
    position:fixed; top:0%; right:15%;
    font-size: 48px;
}

.burgerstack {
    position:fixed; top:0%; right:25%;
}

.burgerstack_wrapper {
    position:static;
    height: 200px;
}

#layer1, #layer2, #layer3, #layer4, #layer5, #layer6, #layer7, #layer8 {
    height: 70px;
    width: auto;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    opacity:0;
}

.wrapper {
    position:fixed;
}

#confusion_matrix {
    border-style:solid;
    position:fixed;
    bottom:0%;
    right:0%;
}

#no_votes {
    position:fixed;
    border-style:solid;
    font-size: 72px;
    bottom:3%;
    left:33%;
}
#yes_votes {
    position:fixed;
    border-style:solid;
    font-size: 72px;
    bottom:3%;
    left:65%;
}

#challenge {
    position:fixed;
    border-style:solid;
    font-size: 72px;
    bottom:0%;
    left:0;
}

.sidebar ul {
    font-size: 24px;
}
.sidebar ul li {
    font-weight: bolder;
}

.sidebar ul li span {
    font-weight: normal;
}

#confusion_matrix th,tr,td {
   border: 1px solid black;
}

.burger {
    position:relative; top:0; left:0; height:256px; width:128px;
}

.topbun {
    position:absolute;
}

.lettuce {
    position:absolute;
}

.tomato {
    position:absolute;
}

.cheese {
    position:absolute;
}

.patty {
    position:absolute;
}

.bottombun {
    position:absolute;
}


#layer1 {
    z-index: 8;
}
#layer2 {
    z-index: 7;
}
#layer3 {
    z-index: 6;
}
#layer4 {
    z-index: 5;
}
#layer5 {
    z-index: 4;
}
#layer6 {
    z-index: 3;
}
#layer7 {
    z-index: 2;
}
#layer8 {
    z-index: 1;
}

