body {
    background: #fff;
    margin: 0;
    height: 100%;
    overflow: hidden
}

.layer {
    height:50px;
    width:200px;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    opacity:0;
}

#wrapper {
    height:370px;
    width:250px;
    border:5px solid black;
    position:static;
}
